# This workflow is configured with npm trusted publishing which allows only one workflow to be configured
# The workflow filename must be the parent that was triggered by the event and not the workflow that contains the npm publish step

name: Node.js build and npm publish

on:
  push:
    # branches:
    #   - main
  workflow_dispatch: # manual trigger was previously in publish.yml but is moved here to support npm trusted publishing
    inputs:
      package_paths:
        description: 'Publish the package in this folder'
        required: true
        type: choice
        options:
          - '["packages/html"]'
          - '["packages/html-canvas"]'
          - '["packages/markdown"]'
          - '["packages/react"]'
          - '["packages/html","packages/html-canvas","packages/markdown","packages/react"]'
      npm_tag:
        description: Publish the package with npm tag
        required: true
        type: choice
        default: latest
        options:
          - latest
          - prerelease
      release:
        description: 'Publish the package version to npm'
        required: true
        type: boolean

jobs:
  build:
    if: github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created == 'true' }}
      paths_released: ${{ steps.release.outputs.paths_released }}

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          # issue with npm version < 11.6.3, this node version contains 11.8.0
          # https://github.com/npm/cli/issues/8805#issuecomment-3627531136
          # Trusted package publishing requires npm > 11.5.1
          node-version: '24.13.1'

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Build all workspace packages
        run: npm run build --if-present --workspaces

      - name: Run tests for all workspace packages
        run: npm run test:mock --if-present --workspaces

      - name: Make local packages
        run: cd packages && npm pack --workspace ./**

      - name: Upload packaged artifacts
        uses: actions/upload-artifact@v4
        with:
          name: contensis-canvas-packages
          path: ./packages/*.tgz

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}
          target-branch: main

      - name: Check release output
        id: check
        env:
          OUTPUTS: '${{ toJson(steps.release.outputs) }}'
        run: |
          echo "releases_created=${{ steps.release.outputs.releases_created }}" >> $GITHUB_OUTPUT
          echo "paths_released=${{ steps.release.outputs.paths_released }}" >> $GITHUB_OUTPUT

  publish:
    if: always() && (needs.build.result == 'success' || github.event_name == 'workflow_dispatch')
    needs: build
    uses: ./.github/workflows/publish.yml
    with:
      package_paths: ${{ github.event_name == 'workflow_dispatch' && inputs.package_paths || needs.build.outputs.paths_released }}
      npm_tag: ${{ github.event_name == 'workflow_dispatch' && inputs.npm_tag || (needs.build.outputs.releases_created != 'true' && 'prerelease' || 'latest') }}
      release: ${{ github.event_name == 'workflow_dispatch' && inputs.release || needs.build.outputs.releases_created == 'true' }}
    secrets: inherit
    permissions:
      id-token: write # for npm trusted publishing
