name: Publish npm package

on:
  workflow_call:
    inputs:
      package_paths:
        required: true
        type: string
      npm_tag:
        required: true
        type: string
      release:
        required: true
        type: boolean

permissions:
  id-token: write # for npm trusted publishing

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ inputs.package_paths != '[]' }}

    strategy:
      fail-fast: false
      matrix:
        path: ${{ fromJson(inputs.package_paths) }}

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Build package in ${{ matrix.path }}
        id: build
        run: |
          cd ${{ matrix.path }}
          npm run build
          package_name=$(node --eval="process.stdout.write(require('./package.json').name)")
          package_version=$(node --eval="process.stdout.write(require('./package.json').version)")
          echo "name=$package_name" > $GITHUB_OUTPUT
          echo "version=$package_version" > $GITHUB_OUTPUT

      - name: Publish ${{ inputs.npm_tag }} ${{ steps.build.outputs.name }}@${{ steps.build.outputs.version }}
        if: ${{ inputs.release == true }}
        run: npm publish --tag ${{ inputs.npm_tag }} --ignore-scripts --access=public --workspace ${{ matrix.path }}
